.header__icon--cart .svg-wrapper,
.header__icon--cart svg {
  width: unset;
  height: unset;
}

.accon-drawer-menu-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.accon-drawer-menu-footer a {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.menu-drawer__menu a {
  font-weight: 400;
  font-size: 26px;
}
