.ew-collection-row {
  padding: 140px 0px;
}

.ew-collection-slider {
  margin-top: 50px;
}

.ew-btn {
  margin-top: 50px;
}

@media(max-width:767px) {
  .ew-collection-row {
    padding: 40px 0px;
  }
}