.ew-featured-tabs-row img {
  height: 100%;
  object-fit: cover;
}

.ew-featured-tabs-row video {
  width: 100%;
}

.ew-featured-tabs-pagination-inner {
  max-width: 362px;
  margin: auto;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(12.5px);
  padding: 14px 24px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  position: relative;
}

.ew-featured-tabs-pagination-inner::before {
  content: '';
  background: #D9D9D9;
  height: 1px;
  width: calc(100% - 48px);
  position: absolute;
  bottom: 0;
  left: 24px;
}

.ew-featured-tabs-pagination-inner button.active {
  border-bottom: 1px solid #000;
  position: relative;
}

.ew-featured-tabs-pagination-inner button {
  box-shadow: none !important;
  background: none;
  padding: 0 0 14px 0;
  border: none;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: "Abhaya Libre";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-bottom: 1px solid transparent;
}

.ew-featured-tabs-row .splide__arrow {
  position: static;
}

.ew-featured-tabs-arrows-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -39px;
  gap: 400px;
}

#ew-arabic-content .ew-featured-tabs-arrows-inner button {
  transform: scaleX(-1);
}

.ew-featured-tabs-arrows-inner button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.ew-featured-tabs-arrows-inner button[disabled] {
  opacity: .4;
}

.ew-featured-tabs-inner-content {
  bottom: 40px;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  max-width: 600px;
  margin: auto;
}

.ew-featured-tabs-inner-content h3 {
  color: #FFF;
  text-align: center;
  font-family: "Abhaya Libre SemiBold";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  margin: 0;
}

@media(max-width:767px) {
  #ew-featured-tabs-section {
    margin-bottom: 60px;
  }

  .ew-featured-tabs-arrows-inner {
    bottom: -110px;
    gap: 20px;
  }

  .ew-featured-tabs-row video {
    height: 600px;
    object-fit: cover;
  }

  .ew-featured-tabs-inner-content h3 {
    font-size: 32px;
    line-height: normal;
  }

  .ew-featured-tabs-inner-content .ew-btn {
    margin-top: 24px;
  }

  .ew-featured-tabs-inner-content .ew-btn-primary {
    max-width: 150px;
    min-width: 250px;
    padding: 10px 0px;
  }

  .ew-featured-tabs-pagination-inner button {
    font-size: 16px;
  }
}