.ew-richtext-wrap {
  max-width: 1400px;
  margin: auto;
}

.ew-richtext-wrap .ew-richtext-text-block h6 {
  color: #969696;
  text-align: center;
  font-family: "Abhaya Libre";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 0;
}

.ew-richtext-wrap .ew-richtext-text-block h3 {
  color: #000;
  text-align: center;
  font-family: "Abhaya Libre";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 40px;
}

.ew-richtext-wrap .ew-richtext-text-block p {
  color: #6E6E6E;
  text-align: center;
  font-family: "Abhaya Libre";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 30px 0;
}

.ew-richtext-text-block,
.ew-richtext-image-block {
  margin: 60px 0;
}

.ew-richtext-wrap .ew-richtext-text-block h2 {
  color: #000;
  text-align: center;
  font-family: "Abhaya Libre";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media(max-width:767px) {
  .main-page-title {
    font-size: 42px;
    margin: 40px 0;
  }

  .ew-richtext-wrap .ew-richtext-text-block h2 {
    font-size: 36px;
  }

  .ew-richtext-wrap .ew-richtext-text-block h3 {
    font-size: 26px;
  }
}