@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.ew-btn-primary {
  border-radius: 8px;
  border: 1px solid #FFF;
  background: rgba(189, 189, 189, 0.15);
  backdrop-filter: blur(5px);
  max-width: 250px;
  min-width: 357px;
  padding: 15px 0px;
  color: #FFF;
  text-align: center;
  font-family: "Abhaya Libre";
  font-size: 14.125px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.ew-btn-primary:hover {
  background: #fff;
  color: #000;
}

.ew-btn-secondary {
  border-radius: 8px;
  border: 1px solid #000;
  background: rgba(189, 189, 189, 0.15);
  backdrop-filter: blur(5px);
  max-width: 250px;
  min-width: 357px;
  display: flex;
  padding: 21px 0px;
  color: #000;
  text-align: center;
  font-family: "Abhaya Libre";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.ew-btn-secondary:hover {
  background: #000;
  color: #fff;
}

.ew-text-center {
  text-align: center;
}

.desktop-hide {
  display: none;
}

@media(max-width:600px) {
  .desktop-hide {
    display: block;
  }

  .mobile-hide {
    display: none;
  }
}

.ew-title {
  color: #000;
  text-align: center;
  font-family: "Abhaya Libre Medium";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  margin: 0;
}

.splide .splide__pagination {
  position: relative;
  justify-content: flex-start;
  gap: 8px;
  padding: 0;
  top: 20px;
}

.splide__pagination__page {
  opacity: 1;
  width: 6px;
  height: 6px;
  margin: 0;
  transform: none !important;
}

.splide__pagination__page.is-active {
  background: #000;
}

.ew-img-fluid {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Hassan */
.header__icon--cart .svg-wrapper,
.header__icon--cart svg {
  width: unset;
  height: unset;
}

.accon-drawer-menu-footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.accon-drawer-menu-footer a {
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.543px;
}

.menu-drawer__menu a {
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.543px;
  margin-bottom: 40px;
}

ul.menu-drawer__menu {
  border-bottom: 1px solid #000;
  padding-top: 96px;
  padding-bottom: 96px;
  margin-bottom: 64px;
}


.accon-footer-row {
  background: #dfdfdf;
  padding-top: 100px;
  padding-bottom: 34px;
}

.accon-footer-links-col h3 {
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 26px;
  margin-top: 0;
}

.accon-footer-links-col a {
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.accon-footer-links-list {
  gap: 16px;
  flex-direction: column;
  padding: 0;
  display: flex;
}

.accon-footer-links-col {
  flex-basis: 100%;
}

.accon-footer-content {
  margin-bottom: 123px;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 100px;
}

.accon-footer-shop-heading {
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 100% */
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 36px;
}

.accon-footer-shop-logo {
  gap: 61px;
  display: flex;
}

.accon-footer-bottom {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.accon-footer-bottom-left,
.accon-footer-bottom-list {
  gap: 40px;
}

.accon-footer-bottom {
  margin-bottom: 85px;
}

.accon-footer-logo {
  text-align: center;
}

.accon-footer-logo img {
  margin: auto;
}

.accon-footer-bottom-left {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.accon-footer-bottom-col a {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000;
}

.accon-footer-links-list-item ::marker {
  display: none;
}

.accon-footer-bottom-list,
.accon-footer-bottom-copyright {
  margin: 0;
}

li::marker {
  content: "";
  padding: 0;
}

.accon-footer-bottom-list {
  padding: 0;
}

.newsletter-form__field-wrapper {
  display: grid;
  grid-template-columns: 50% 40%;
  gap: 121px;
}

.accon-country-lang-wrap {
  display: flex;
  gap: 20px;
}

.field.accon-newsletter-select select {
  padding: 0 0 0 15px;
}

.content-container--full-width:after {
  background-color: #dfdfdf;
  border-bottom: 1px solid #00000080;
}

.newsletter-form__field-wrapper .field:after,
.newsletter-form__field-wrapper .select:after,
.localization-form__select:after {
  box-shadow: unset;
}

.newsletter-form__field-wrapper .field__button {
  background-color: #000 !important;
  color: #fff;
  height: 4.5rem;
  top: 1px;
  width: 185px;
}

.accon-newsletter-form {
  text-align: left;
  width: 100%;
}

.accon-newsletter-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 14px;
  display: inline-block;
}

.newsletter-form__field-wrapper .field__input {
  font-weight: 400;
  font-size: 14px;
  border-radius: 2px;
}

.accon-footer-links {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  max-width: 550px;
}

.newsletter-form__field-wrapper .field__input:focus,
.newsletter-form__field-wrapper .select__select:focus,
.localization-form__select:focus.localization-form__select:after,
.newsletter-form__field-wrapper .field:hover.field:after,
.newsletter-form__field-wrapper .select:hover.select:after,
.select__select:hover.select__select:after,
.localization-form__select:hover.localization-form__select:after {
  box-shadow: unset !important;
}

.accon-footer-bottom-copyright a {
  margin-left: 40px;
}

.accon-footer-bottom-copyright p {
  margin: 0;
}

.accon-footer-bottom-copyright p,
.accon-footer-bottom-copyright a {
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 131.25% */
  letter-spacing: 0.42px;
}

@media (max-width: 768px) {
  .newsletter-form__field-wrapper {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .accon-footer-links {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .accon-footer-shop-logo {
    flex-wrap: wrap;
    gap: 25px;
  }

  .accon-footer-bottom-copyright a {
    margin-left: 2px;
  }

  .newsletter-form__field-wrapper .field__button {
    width: 100px;
  }

  .accon-footer-content {
    margin-bottom: 40px;
    flex-direction: column;
  }

  .accon-footer-bottom {
    margin-bottom: 30px;
    gap: 15px;
    flex-direction: column;
  }

  .accon-footer-logo img {
    width: 100%;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main-page-title {
  color: #000;
  text-align: center;
  font-family: "Abhaya Libre";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 125px 0;
}

@media(max-width:768px) {
  .main-page-title {
    font-size: 44px;
    margin: 60px 0;
  }
}

.ew-form-label {
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 14px;
  display: block;
}

.accordion__title {
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordion__content {
  color: #6E6E6E;
  font-family: "Abhaya Libre";
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 !important;
}

.accon-collapsible-content .accordion summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-page-title-subtitle {
  color: #969696;
  font-family: "Abhaya Libre";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-bottom: 10px;
}

.accordion details summary svg {
  transition: all .3s ease-in-out;
}

.accordion details[open] summary svg {
  transform: scaleY(-1);
}

.facets__summary span:first-of-type {
  color: #000;
  font-family: "Abhaya Libre Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.facet-checkbox__text-label {
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.ew-facet-left-side {
  display: flex;
  gap: 30px;
  width: 290px;
  justify-content: space-between;
  padding-right: 30px;
}

#ew-arabic-content .ew-facet-left-side {
  padding-right: 0px;
  padding-left: 30px;
}

#ew-arabic-content .facet-filters__field {
  gap: 10px;
}


.ew-facet-title {
  color: #000;
  font-family: "Abhaya Libre Medium";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.2px;
  margin: 0;
}

#FacetSortForm {
  margin-bottom: 67px;
}

.mobile-facets__open-label,
.product-count__text span {
  color: #000;
  font-family: "Abhaya Libre Medium";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.2px;
}

.ew-facet-right-side {
  display: flex;
  align-items: center;
  gap: 30px;
}

.ew-filter-button button {
  background: transparent;
  border: none;
  padding: 0;
  color: #000;
  text-align: center;
  font-family: "Abhaya Libre";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.facets__heading--vertical {
  color: #000 !important;
  font-family: "Abhaya Libre Medium";
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

#main-collection-filters {
  width: 280px;
  transition: all 0.3s ease;
  opacity: 1;
}

@media(min-width:768px) {
  #main-collection-filters {
    transform: translateX(0);
  }
}

#main-collection-filters.is-hiding {
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
}

#main-collection-filters.is-hidden {
  width: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#ProductGridContainer {
  flex: 1;
  transition: all 0.3s ease;
}

.facet-filters__label {
  margin: 0 !important;
}

.facet-filters__sort,
.facet-filters__label label {
  color: #000;
  text-align: right;
  font-family: "Abhaya Libre";
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.related-products__heading {
  color: #000;
  text-align: center;
  font-family: "Abhaya Libre Medium";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  text-transform: capitalize;
  margin-bottom: 60px !important;
}

.header__search svg {
  width: 22px;
}

.header__search {
  padding: 0 10px 0 20px;
}

#HeaderLanguageForm button {
  gap: 10px;
}

@media(max-width:767px) {

  .ew-btn-primary,
  .ew-btn-secondary {
    max-width: 100%;
    min-width: 100%;
    padding: 15px 0px;
  }

  .ew-btn {
    width: 100%;
  }

  .header {
    padding: 10px 15px !important;
  }

  .header__search {
    padding: 0 !important;
  }
}

@media screen and (min-width: 750px) {
  #ew-arabic-content .facets-vertical .facets-wrapper {
    padding-left: 3rem;
    padding-right: 0;
  }
}


@media(max-width:1600px) {
  #accon-footer .ew-newsletter {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .accon-footer-content {
    margin-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .accon-footer-row {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .accon-footer-shop-logo {
    gap: 20px;
  }
}

#menu-drawer .menu-drawer__menu-item {
  padding: 0 70px;
  cursor: pointer;
}

@media(max-width:980px) {
  .accon-footer-content {
    margin-bottom: 30px !important;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 30px !important;
  }

  #accon-footer .ew-newsletter {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 30px !important;
  }

  .accon-footer-bottom {
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
  }

  #menu-drawer .menu-drawer__menu-item {
    padding: 0 15px !important;
  }

  ul.menu-drawer__menu {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #main-collection-filters {
    width: 100%;
  }

  .menu-opening .mobile-facets__inner {
    overflow: visible;
  }

  .cart__ctas>a {
    display: none;
  }
}

.drawer__inner {
  background: #000;
}

.cart-drawer .cart-item__image {
  height: 100%;
  object-fit: cover;
}

#CartDrawer .totals__total-value,
#CartDrawer .totals>h2 {
  color: #FFF;
  font-family: "Abhaya Libre";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart-drawer .tax-note {
  color: #FFF;
  font-family: "Abhaya Libre";
  font-size: 14;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#CartDrawer .cart__ctas {
  flex-direction: column;
}

#CartDrawer .cart__ctas>a {
  background: #000;
  color: #fff;
  font-family: "Abhaya Libre";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 18px;
  text-decoration: none;
  border: 2px solid #fff;
}

#CartDrawer .cart__ctas>button {
  background: #FFF;
  color: #000;
  font-family: "Abhaya Libre";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 18px;
  text-decoration: none;
}

#CartDrawer .drawer__heading {
  color: #FFF;
  font-family: "Abhaya Libre";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#CartDrawer .drawer__close {
  color: #fff;
}

#CartDrawer .cart-item__name {
  color: #FFF;
  font-family: "Abhaya Libre";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

#CartDrawer .product-option {
  color: #FFF;
  font-family: "Abhaya Libre";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#CartDrawer .drawer__cart-items-wrapper thead {
  display: none;
}

#CartDrawer .price,
#CartDrawer cart-remove-button .button {
  color: #fff;
}

#ew-arabic-content summary .icon-caret {
  left: 1.5rem;
  right: auto;
}

#ew-arabic-content .facet-filters__field .select__select {
  text-align: left;
}

.drawer__heading {
  margin: 60px 0;
}

.drawer__heading span {
  margin-left: 28px;
  color: #FFF;
  font-family: "Abhaya Libre";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart-drawer .cart-item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 0.519px solid #CACACA;
}

.cart-drawer .cart-items td {
  padding-top: 0;
}

.cart-drawer .cart-item__price-wrapper {
  color: #FFF;
  text-align: right;
  font-family: "Abhaya Libre";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart-item__quantity-wrapper {
  justify-content: space-between;
}

cart-remove-button .svg-wrapper {
  width: auto;
  color: #969696;
  font-family: "Abhaya Libre";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  height: auto;
  gap: 4px;
}

cart-remove-button .svg-wrapper>svg {
  height: 20px;
  width: 20px;
}

cart-remove-button .button {
  min-height: auto;
  min-width: auto;
}

#CartDrawer .product-option dt {
  color: #969696;
  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ew-product-option-color {
  display: block !important;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  margin-top: 6px;
  border-radius: 50%;
}

.product-option-wrap {
  margin-bottom: 15px;
}

.product-form__input-color input:checked+label {
  border: 4px solid #000 !important;
}

.ew-cart-item-quantity-inner-wrapper {
  display: flex;
  gap: 20px;
}

.ew-qty-title,
.ew-cart-item-label h4 {
  color: #969696;
  font-family: "Abhaya Libre";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 12px;
}

.ew-cart-item-inps {
  border: 0.832px solid #FFF;
  width: 40px;
  color: #FFF;
  font-family: "Abhaya Libre";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 9px;
  text-align: center;
}

.quantity-popover-container {
  flex-direction: column;
  align-items: flex-start !important;
}

.quantity {
  min-height: 37px !important;
}