.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.accon-contact-wrapper {
  display: grid;
  grid-template-columns: 80% 10%;
  justify-content: space-between;
}

span.accon-contact-subHeading {
  font-weight: 400;
  font-size: 18px;
  color: #969696;
}

.accon-contact-wrap .title {
  margin-bottom: 10px;
}

.accon-contact-desc p {
  font-family: Abhaya Libre;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.accon-contact-wrap .contact__button .button {
  max-width: 424px;
  width: 100%;
}

.accon-contact-wrap .field:after,
.accon-contact-wrap .select:after,
.accon-contact-wrap .customer .field:after,
.accon-contact-wrap .customer select:after,
.accon-contact-wrap .localization-form__select:after,
.accon-contact-wrap .field__input:focus,
.accon-contact-wrap .select__select:focus,
.accon-contact-wrap .customer .field input:focus,
.accon-contact-wrap .customer select:focus,
.accon-contact-wrap
  .localization-form__select:focus.localization-form__select:after,
.field__input:focus-visible,
.field:hover.field:after{
  box-shadow: unset;
}
.accon-contact-wrap .field:after,
.accon-contact-wrap .select:after,
.accon-contact-wrap .customer .field:after,
.accon-contact-wrap .customer select:after,
.accon-contact-wrap .localization-form__select:after {
  border-bottom-color: #000;
}

..accon-contact-wrap .field__label {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
  #ContactForm {
    padding: 108px 0;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }
}
